* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 14px;
  scroll-behavior: smooth;
}

@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #333;
}

header {
  background-color: #B0BEC5;
  height: 100px;
  align-content: center;
  padding-right: 4vw;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 4vw;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #000000;
  text-decoration: none;
  font-weight: normal;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}
nav ul li a:hover{
  border-bottom: #000000 1px solid;
}

#menu{
  display: flex;
  justify-content: flex-end;
}

#principal {
  position: relative;
  font-size: 6rem;
  font-family: "Sedan SC", serif;
  text-align: center;
  align-content: center;
  min-height: 65vh;
  overflow: hidden;
  font-weight: normal;
}

#principal::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(imagens/plano_fundo_dentes.png);
  background-repeat: repeat;
  background-size: 30%;
  filter: opacity(30%);
  z-index: -1;
}
#sobre-nos {
  background-color: #B0BEC5;
  font-family: "Lato", sans-serif;
  font-weight: 350;
  min-height: 70vh;
  background-image: url(imagens/conjunto-de-vetores-de-espelho-de-ferramentas-odontologicas-inoxidavel-broca-e-pinca-com-vista-lateral-do-dente-no-fundo.png);
  background-size: 60vh;
  background-repeat: no-repeat;
  background-position: calc(100% - 7vw) bottom;
}


#nosso-consultorio{
  min-height: 70vh;
  background: #f5f5f5;
}

#servicos{
  min-height: 70vh;
  background: #f5f5f5;
}

#nossa-equipe{
  min-height: 50vh;
  background: #f5f5f5;
}

#cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5vw;
}

.card {
  background: #B0BEC5;
  padding: 4vw 3vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.card p {
  margin-top: 40px;
  font-size: 2rem;
  font-weight: 400;
  font-family: "Lato", sans-serif;
}

.subtitle{
  font-size: 3rem;
  margin-bottom: 20px;
}
.paragrafos-secao{
  font-size: 1.9rem;
}

.botao{
  font-size: 1.6rem;
  text-decoration: none;
  font-weight: 500;
  background-color: #B0BEC5;
  color: #274D73;
  border: #274D73 2px solid;
  border-radius: 5px;
  padding: 13px 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.secao1{
  width: 50vw;
  padding: 130px 0px 130px 200px;
}
.secao2{
  width: 100%;
  padding: 130px 200px 0px 200px;
}
.secao3{
  width: 100%;
  padding: 130px 200px 0px 200px
}
.secao4{
  width: 100%;
  padding: 130px 200px 20px 200px
}
footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

footer p {
  margin-bottom: 10px;
}

footer .social-links img {
  width: 30px;
  margin: 0 10px;
}

#links-footer {
  text-align: center;
}

#links-footer ul {
  list-style: none;
  padding: 0;
}

#links-footer li {
  display: inline;
  margin: 0 15px;
}

#links-footer a {
  text-decoration: none;
  color: white;
  font-weight: normal;
}

#links-footer a:hover {
  color: #B0BEC5;
}
/* slider */

.container-carousel {
  position: relative;
  background-color: #e0e0e0;
  overflow: hidden;
  width: 100%;
  height: 70vh;
  margin: auto;
}

.carruseles {
  height: 100%;
  display: flex;
  transition: transform 0.6s ease;
  -webkit-transition: transform 0.6s ease;
  -moz-transition: transform 0.6s ease;
  -ms-transition: transform 0.6s ease;
  -o-transition: transform 0.6s ease;
}

.slider-section {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slider-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-left,
.btn-right {
  display: flex;
  position: absolute;
  top: 50%;
  font-size: 4rem;
  background-color: transparent;
  border-radius: 50%;
  padding: 5px;
  font-weight: 600;
  cursor: pointer;
  color: #000;
  transform: translate(0,-50%);
  transition: .5s ease;
  user-select: none;
}

.btn-left:hover,
.btn-right:hover {
  color: #000;
}

.btn-left {
  left: 10px;
}

.btn-right {
  right: 10px;
}